.art-container {
    display: table;
    width: 100%;
}

.motive {
    padding-left: 10%;
    padding-right: 10%;
    vertical-align: center;
}

.text {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5vmax;
    font-weight: bold;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0 3px 3px;
}

@media screen and (max-width: 400px) {
    .text {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-width: 900px) {
    .text {font-size: 30px;}
}

@media screen and (max-height: 890px) {
    .text {font-size: 16px;}
}