.tab-container {
    position: absolute;
    z-index: 10;
    width: 15vmax;
    height: 40vh;
    min-width: 60px;
}

.tab {
    width: 9vmax;
    min-width: 50px;
    height: 9vmax;
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: #818181;
    border: 2px solid black;
    margin: 3px;
    color: black;
    text-align: center;
    font-size: 5vw;
    cursor: pointer;
    outline: 0;
}

.tab:hover, .tabactive:hover {
    background-color: white;
}

.tabactive {
    width: 9vmax;
    min-width: 50px;
    height: 9vmax;
    min-height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid goldenrod;
    margin: 3px;
    color: black;
    text-align: center;
    font-size: 5vw;
    cursor: pointer;
    outline: 0;
    background-color: white;
}

.tab-content {
    display: none;
    padding: 10px 10px;
    position: relative;
}

