@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.App {
  text-align: center;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: art;
}
.item3 {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'art' 'footer';
  grid-gap: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.603);
  text-align: center;
  padding: 20px 0;
}

#motive-container {
  height: 50%;
  width: 60%;
  display: inline-block;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
